.activebutton {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  color: #ffffff;
  text-shadow: 0 1px 0 #528ecc;
  border: 1px solid #85bbf3;
}
