<div *ngIf="showModal" class="fixed insert-0 w-full h-full justify-center items-center z-40 py-12 bg-gray-700 bg-opacity-50 transition duration-150 ease-in-out" id="modal">
  <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
    <div  class="relative py-8 px-5 md:px-10 bg-white shadow-xl ring-1 rounded border border-gray-400">
      <div class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out" (click)="closeModal()">
        <svg xmlns="http://www.w3.org/2000/svg" aria-label="Close" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" />
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </div>
        <div class="w-full flex justify-start text-gray-600 mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-wallet" width="52" height="52" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <path d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12" />
            <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4" />
          </svg>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Enter Login Details</h1>
        <label for="username" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Email</label>
        <div class="relative mb-5 mt-2">
          <div class="absolute right-0 text-gray-600 flex items-center pr-3 h-full cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <circle cx="12" cy="12" r="9"></circle>
              <line x1="12" y1="8" x2="12.01" y2="8"></line>
              <polyline points="11 12 12 12 12 16 13 16"></polyline>
            </svg>
          </div>
          <input id="username" formControlName="username" class="mb-8 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="Enter Your Username" />
        </div>
        <label for="password" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Password</label>
        <div class="relative mb-5 mt-2">
          <div class="absolute right-0 text-gray-600 flex items-center pr-3 h-full cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <circle cx="12" cy="12" r="9"></circle>
              <line x1="12" y1="8" x2="12.01" y2="8"></line>
              <polyline points="11 12 12 12 12 16 13 16"></polyline>
            </svg>
          </div>
          <input id="password" formControlName="password" class="mb-8 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" placeholder="Enter Your Password" />
        </div>
        <div class="flex items-center justify-start w-full">
          <button type="submit" class="focus:outline-none transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-8 py-2 text-sm">Submit</button>
          <button class="focus:outline-none ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm" (click)="closeModal()">Cancel</button>
        </div>
          <a (click)="closeModal()" routerLink="/auth/user/register" class="text-sm text-blue-500 hover:text-blue-700">Already have an account? Login</a>
      </form>
    </div>
  </div>
</div>
