<div *ngIf="isModalOpen$ | async" class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75">
  <div class="bg-white rounded-lg p-8">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">Cart</h2>
      <button class="focus:outline-none" (click)="closeModal()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600 hover:text-gray-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="flex flex-col space-y-4">
      <div *ngFor="let item of cartItems" class="flex items-center space-x-4">
        <img [src]="item.image" alt="{{item.title}}" class="w-12 h-20 rounded-lg">
        <div class="flex flex-col">
          <p class="text-lg font-semibold">{{item.title}}</p>
          <p class="text-gray-600">Price: ${{item.price}}</p>
          <div class="flex items-center space-x-2">
            <button class="focus:outline-none" (click)="decreaseQuantity(item.id)">-</button>
            <p>{{ item.quantity }}</p>
            <button class="focus:outline-none" (click)="increaseQuantity(item.id)">+</button>
          </div>
          <button class="text-red-500" (click)="removeFromCart(item.id)">Remove</button>
        </div>
      </div>
      <div>Total Price: {{ totalPrice | currency }}</div>
    </div>
  </div>
</div>
